<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">

    <title>Hiper News - Notícias</title>
  </head>
  <body>
    
    {% block body %}{% endblock %}

    <script src="{{url_for('static', filename = 'js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
  </body>
</html>
