/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

#homeButton {
    color: white;
}

ul > li > h1 {
    color: white;
}

ul > li > a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

ul > li > a:hover {
    color: white;
    text-decoration: underline;
}

#searchButton {
    color: white;
    border-color: white;
}

#searchButton:hover {
    color: #691717;
    background-color: white;
    border-color: white;
}

#searchButton:focus {
    color: #691717;
    background-color: white;
    border-color: #691717;
    box-shadow: 0 0 0 0.2rem white;
}

.footer {
  text-align: center;
  background: #404040;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
/*--------------------------------------------------------------
# Notícia
--------------------------------------------------------------*/

.breadcrumb {
    color: #404040;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #404040;
}

.breadcrumb-item.active {
    color: #691717;
}

#newsTitle {
    color: #691717;
}

video {
    display: block;
    margin: 0 auto; 
}

#likeButton {
    color: white;
    background-color: #691717;
    border-color: #691717;
    display: block;
    margin: 0 auto; 
}

#likeButton:hover {
    color: white;
    background-color: #404040;
    border-color: #404040;
}

#likeButton:focus {
    color: white;
    background-color: #404040;
    border-color:  #404040;
}

.form-control {
    border: 1px solid #404040;
}

.form-control:focus {
    color: #404040;
    background-color: #fff;
    border-color: #691717;
}

#commentButton {
    color: white;
    background-color: #691717;
    border-color: #691717;
}

#commentButton:hover {
    color: white;
    background-color: #404040;
    border-color: #404040;
}

#commentButton:focus {
    color: white;
    background-color: #404040;
    border-color:  #404040;
}